@-webkit-keyframes check {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes check {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes right {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes right {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@-webkit-keyframes left {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
}

@keyframes left {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
}

@-webkit-keyframes spinner-loading {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spinner-loading {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.load {
  position: absolute;
  border-bottom: 5px solid #9356DC;
  border-top: 5px solid #FF79DA;
  border-left: 5px solid #EAEAEA;
  border-right: 5px solid #99E2D0;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  -webkit-animation: right 2s linear;
          animation: right 2s linear;
  opacity: 0;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.load1 {
  position: absolute;
  border-bottom: 5px solid #9356DC;
  border-top: 5px solid #FF79DA;
  border-left: 5px solid #EAEAEA;
  border-right: 5px solid #99E2D0;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  -webkit-animation: left 2s linear;
          animation: left 2s linear;
  opacity: 0;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.animation {
  -webkit-animation: spinner-loading 2s linear;
          animation: spinner-loading 2s linear;
}

.one, .two, .three, .four {
  opacity: 0;
}

.one {
  -webkit-animation: load 500ms;
          animation: load 500ms;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.two {
  -webkit-animation: load 500ms;
          animation: load 500ms;
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.three {
  -webkit-animation: load 500ms;
          animation: load 500ms;
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.four {
  -webkit-animation: load 500ms;
          animation: load 500ms;
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.footer {
  background: #353535;
  padding: 20px;
}

@media screen and (min-width: 1024px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 20px auto;
    padding: 20px 40px;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-logo {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

@media screen and (max-width: 767px) {
  .footer-logo {
    padding-top: 5px;
    width: 100px;
    margin-left: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .footer-logo {
    width: 300px;
  }
}

.footer-menu {
  margin-top: 15px;
  margin-left: 20px;
  color: white;
  cursor: pointer;
}

.footer-icon {
  margin-right: 5px;
}

.contact {
  text-decoration: none;
  color: white;
}

.img-menu {
  z-index: 2;
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .img-menu {
    width: 100%;
  }
}

.img-menu {
  height: auto;
  z-index: 0;
}

@media screen and (max-width: 767px) {
  .img-menu {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .img-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-height: 300px;
    margin: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.logo-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .logo-header {
    width: 160px;
    padding-top: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .logo-header {
    width: 350px;
    margin-top: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .logo-header {
    width: 300px;
    padding: 10px 10px 0px 10px;
  }
}

.logo-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .logo-menu {
    width: 160px;
    padding: 10px 10px 10px 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .logo-menu {
    width: 300px;
    padding: 10px 10px 10px 0px;
  }
}

@media screen and (min-width: 1024px) {
  .logo-menu {
    width: 300px;
    margin: 20px auto;
  }
}

.fa-arrow-left {
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  .fa-arrow-left {
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .fa-arrow-left {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .fa-arrow-left {
    font-size: 3rem;
  }
}

.img-restaurant {
  border-radius: 15px 15px 0px 0px;
}

@media screen and (max-width: 767px) {
  .img-restaurant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
  .img-restaurant {
    max-width: 400px;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .img-restaurant {
    width: 100%;
    height: auto;
  }
}

.fa-heart {
  float: right;
  margin-right: 30px;
  font-size: 2rem;
}

.like .checked {
  display: none;
}

.like input[type="checkbox"]:checked ~ .checked {
  display: inline-block;
}

.like input[type="checkbox"]:checked ~ .unchecked {
  display: none;
}

input {
  display: none;
}

.background-green {
  background: #99E2D0;
}

@media screen and (max-width: 767px) {
  .background-green {
    width: 0px;
    height: 60px;
    border-radius: 0px 15px 15px 0px;
    -webkit-transition: 500ms ease-in-out;
    transition: 500ms ease-in-out;
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: translate(50%);
            transform: translate(50%);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .background-green {
    width: 0px;
    height: 75px;
    border-radius: 0px 15px 15px 0px;
    -webkit-transition: 500ms ease-in-out;
    transition: 500ms ease-in-out;
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: translate(50%);
            transform: translate(50%);
  }
}

@media screen and (min-width: 1024px) {
  .background-green {
    margin-left: -10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 25px;
    height: 0px;
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transition: 500ms ease-in-out;
    transition: 500ms ease-in-out;
  }
}

.cercle {
  border-radius: 20px;
  background: white;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .cercle {
    width: 26px;
    height: 26px;
    margin: 15px auto;
    margin-left: 11px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cercle {
    width: 42px;
    height: 42px;
    margin: 17px;
  }
}

@media screen and (min-width: 1024px) {
  .cercle {
    margin: 8px auto;
    width: 40px;
    height: 40px;
  }
}

.fa-check {
  color: #99E2D0;
  -webkit-transition: 500ms ease-in;
  transition: 500ms ease-in;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .fa-check {
    font-size: 1.1rem;
    margin-top: 5px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .fa-check {
    font-size: 1.7rem;
    margin-top: 8px;
  }
}

@media screen and (min-width: 1024px) {
  .fa-check {
    font-size: 1.8rem;
    margin-top: 7px;
  }
}

.new, .new:link {
  position: absolute;
  color: #1b6150;
  background-color: #99E2D0;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .new, .new:link {
    padding: 10px 11px;
    top: 10%;
    right: 5%;
    -webkit-transform: translate(-10%, -10%);
            transform: translate(-10%, -10%);
  }
}

@media screen and (min-width: 1024px) {
  .new, .new:link {
    font-size: 1.6rem;
    top: 5%;
    right: 1%;
    -webkit-transform: translate(-10%, -5%);
            transform: translate(-10%, -5%);
    padding: 15px 10px 15px 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .new, .new:link {
    font-size: 1.8rem;
    top: 5%;
    right: 1%;
    -webkit-transform: translate(-10%, -10%);
            transform: translate(-10%, -10%);
    padding: 15px 10px 15px 10px;
  }
}

h1 {
  margin-left: 20px;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 1rem;
    font-weight: lighter;
  }
}

@media screen and (min-width: 1024px) {
  h3 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  h3 {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  h3 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 767px) {
  h4 {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

@media screen and (min-width: 1024px) {
  h4 {
    font-size: 1.5rem;
    text-align: left;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  h4 {
    font-size: 1.8rem;
    margin: 20px 0px 25px 1px;
  }
}

h5 {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.1rem;
  margin: 3px;
}

h6 {
  font-size: 1.6rem;
  margin: 3px;
}

html {
  font-family: "roboto",Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 1024px) {
  html {
    margin: auto;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
}

body {
  margin: 0;
}

nav {
  padding-left: 15px;
}

.nom-restaurant {
  text-decoration: none;
  color: black;
}

.background-light {
  background: #F6F6F6;
}

.background-dark {
  background: #EAEAEA;
}

.white {
  color: white;
}

@media screen and (min-width: 1024px) {
  .white {
    font-size: 2rem;
  }
}

.black {
  color: black;
}

.checked {
  color: #FF79DA;
}

.uppercase {
  text-transform: uppercase;
}

ul {
  list-style: none;
}

.border-bottom {
  border-bottom: 3px solid #99E2D0;
}

@media screen and (max-width: 767px) {
  .border-bottom {
    width: 42px;
  }
}

@media screen and (min-width: 1024px) {
  .border-bottom {
    width: 150px;
  }
}

@media screen and (min-width: 1024px) {
  .center {
    text-align: center;
    margin: 20px auto;
  }
}

.btn {
  border: none;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: #F5EDFF;
}

.btn:hover .btn-color {
  color: #9356DC;
}

@media screen and (min-width: 1024px) {
  .btn {
    padding: 0px 20px;
    margin: 10px auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px 10px;
    margin: 10px auto;
  }
}

@media screen and (max-width: 767px) {
  .btn {
    padding: 5px 0px;
  }
}

.btn:active {
  color: #FF79DA;
}

.btn:active .btn-color {
  color: #FF79DA;
}

.btn:active .btn-number {
  color: #99E2D0;
  background: #FF79DA;
}

.btn-radius {
  border-radius: 50px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px;
}

.btn-radius2 {
  border-radius: 14px;
}

.btn-intro {
  border: none;
  background: linear-gradient(80deg, #9356dc 0%, #ff79da 100%);
  margin: 20px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .btn-intro {
    font-size: 0.9rem;
    padding: 15px 40px;
  }
}

@media screen and (min-width: 1024px) {
  .btn-intro {
    font-size: 1.8rem;
    padding: 20px 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .btn-intro {
    font-size: 1.5rem;
    padding: 15px 40px;
  }
}

.btn-command {
  text-align: center;
}

.btn-footer {
  border: none;
  background: linear-gradient(80deg, #9356dc 0%, #ff79da 100%);
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .btn-footer {
    margin: 25px 0px 60px 0px;
    padding: 0px 40px;
  }
}

.btn-number {
  background-color: #9356DC;
  border-radius: 50%;
  margin-right: 20px;
  color: white;
  position: relative;
}

@media screen and (max-width: 767px) {
  .btn-number {
    right: 10px;
    padding: 2px 7px;
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .btn-number {
    right: 32px;
    padding: 4px 8px;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .btn-number {
    font-size: 1.7rem;
    padding: 3px 10px;
    margin: -15px auto;
  }
}

.btn-color {
  color: #7E7E7E;
  font-size: 1.2rem;
}

@media screen and (max-width: 767px) {
  .btn-color {
    margin-right: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .btn-color {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .btn-color {
    margin-right: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .size {
    font-size: 1.7rem;
  }
}

.intro {
  padding: 10px 20px 10px 20px;
  text-align: center;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .intro h1 {
    padding: 0px 35px;
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1024px) {
  .intro h1 {
    font-size: 2rem;
  }
}

.intro-h1 {
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  .intro-h1 {
    font-size: 2.5rem;
    text-align: center;
    position: relative;
    text-align: left;
    margin: 30px 20px;
    width: 2000px;
  }
}

@media screen and (max-width: 767px) {
  .intro-h1 {
    font-size: 1.5rem;
    margin: 40px 0px 30px 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro-h1 {
    font-size: 2rem;
    margin: 20px 500px 20px 20px;
  }
}

nav {
  margin-bottom: 40px;
}

@media screen and (min-width: 1024px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.map {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #EAEAEA;
  padding: 10px 0px 10px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.06) 0px 5px 7px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.06) 0px 5px 7px 0px inset;
}

@media screen and (min-width: 1024px) {
  .map {
    font-size: 1.5rem;
  }
}

.localisation {
  margin-left: 15px;
}

.restaurant {
  position: relative;
  background-color: white;
  border-radius: 15px;
  line-height: 10px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px;
  -webkit-transition: 200ms;
  transition: 200ms;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .restaurant {
    margin: 10px auto;
  }
}

.restaurant:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
          box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.list-restaurants {
  padding: 5px 15px 35px 15px;
  margin-top: 20px;
}

@media screen and (min-width: 1024px) {
  .list-restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1024px) {
  .menu-categorie {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.plat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: white;
  border-radius: 15px;
  padding-left: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px;
  -webkit-transition: 500ms;
  transition: 500ms;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .plat:hover .background-green, .plat:active .background-green {
    width: 60px;
    padding-right: 10px;
    margin-right: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .plat:hover .background-green, .plat:active .background-green {
    width: 100px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .plat:hover .background-green, .plat:active .background-green {
    height: 80px;
    width: 320px;
  }
}

.plat:hover .fa-check, .plat:active .fa-check {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

@media screen and (max-width: 767px) {
  .plat {
    margin: 20px 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .plat {
    margin: 20px 10px;
  }
}

@media screen and (min-width: 1024px) {
  .plat {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 120px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
  }
}

.plat-header {
  white-space: nowrap;
  padding: 5px 0px 5px 0px;
}

@media screen and (max-width: 767px) {
  .plat-header {
    width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .plat-header {
    width: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .plat-header {
    width: 310px;
    overflow: hidden;
  }
}

.plat-price {
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  width: 70px;
}

@media screen and (max-width: 767px) {
  .plat-price {
    text-align: right;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .plat-price {
    text-align: right;
    margin-left: 350px;
  }
}

@media screen and (min-width: 1024px) {
  .plat-price {
    text-align: center;
  }
}

.description-restaurant {
  margin-left: 15px;
  line-height: 5px;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-list {
  border-radius: 15px 15px 0px 0px;
  z-index: 100;
  position: relative;
  margin: -20px auto;
}

@media screen and (max-width: 767px) {
  .uppercase {
    margin-left: 10px;
    font-weight: lighter;
  }
}
/*# sourceMappingURL=main.css.map */