@-webkit-keyframes check {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes check {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes right {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes right {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@-webkit-keyframes left {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
}

@keyframes left {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
}

@-webkit-keyframes spinner-loading {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spinner-loading {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.load {
  position: absolute;
  border-bottom: 5px solid #9356DC;
  border-top: 5px solid #FF79DA;
  border-left: 5px solid #EAEAEA;
  border-right: 5px solid #99E2D0;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  -webkit-animation: right 2s linear;
          animation: right 2s linear;
  opacity: 0;
}

@media screen and (min-width: 992px) {
  .load {
    top: 195px;
    left: 295px;
  }
}

@media screen and (max-width: 768px) {
  .load {
    top: 75px;
    left: 125px;
  }
}

@media screen and (min-width: 768px) {
  .load {
    top: 195px;
    left: 295px;
  }
}

.load1 {
  position: absolute;
  border-bottom: 5px solid #9356DC;
  border-top: 5px solid #FF79DA;
  border-left: 5px solid #EAEAEA;
  border-right: 5px solid #99E2D0;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  -webkit-animation: left 2s linear;
          animation: left 2s linear;
  opacity: 0;
}

@media screen and (min-width: 992px) {
  .load1 {
    top: 200px;
    left: 300px;
  }
}

@media screen and (max-width: 768px) {
  .load1 {
    top: 80px;
    left: 130px;
  }
}

@media screen and (min-width: 768px) {
  .load1 {
    top: 200px;
    left: 300px;
  }
}

.animation {
  -webkit-animation: spinner-loading 2s linear;
          animation: spinner-loading 2s linear;
}

.footer {
  background: #353535;
  padding: 20px;
}

@media screen and (min-width: 992px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 20px auto;
    padding: auto 40px;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-logo {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

@media screen and (max-width: 768px) {
  .footer-logo {
    padding-top: 5px;
    width: 40%;
    margin-left: 15px;
  }
}

@media screen and (min-width: 992px) {
  .footer-logo {
    width: 300px;
  }
}

.footer-menu {
  margin-top: 15px;
  margin-left: 20px;
  color: white;
}

.footer-icon {
  margin-right: 5px;
}

.plat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: 20px 10px;
  background: white;
  border-radius: 15px;
  padding-left: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 15px;
  -webkit-transition: 500ms;
  transition: 500ms;
  overflow: hidden;
}

.plat:hover .background-green {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  width: 60px;
}

.plat:hover .background-green .fa-check {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

@media screen and (min-width: 992px) {
  .plat {
    width: 400px;
  }
}

.plat-header {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 300px;
  padding: 5px 0px 5px 0px;
}

.plat-price {
  margin-right: 10px;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  width: 70px;
  text-align: right;
}

.img-menu {
  z-index: 2;
  position: relative;
}

@media screen and (min-width: 768px) {
  .img-menu {
    width: 100%;
  }
}

.like .checked {
  display: none;
}

.like input[type="checkbox"]:checked ~ .checked {
  display: inline-block;
}

.like input[type="checkbox"]:checked ~ .unchecked {
  display: none;
}

.background-green {
  background: #99E2D0;
  width: 0px;
  height: 60px;
  border-radius: 0px 15px 15px 0px;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: translate(50%);
          transform: translate(50%);
}

.cercle {
  width: 25px;
  height: 25px;
  border-radius: 20px;
  background: white;
  margin: 15px auto;
  text-align: center;
}

.fa-check {
  color: #99E2D0;
  margin-top: 5px;
  font-size: 1.1rem;
  -webkit-transition: 500ms ease-in;
  transition: 500ms ease-in;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  cursor: pointer;
}

.fa-check .fa-check:link {
  color: #FF79DA;
}

h1 {
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

h3 {
  font-size: 1rem;
}

@media screen and (min-width: 992px) {
  h3 {
    font-size: 1.5rem;
  }
}

h4 {
  border-bottom: 4px solid #99E2D0;
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  h4 {
    width: 30px;
  }
}

@media screen and (min-width: 992px) {
  h4 {
    font-size: 1.5rem;
    text-align: center;
    margin: 10px auto;
    width: 150px;
  }
}

h5 {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.1rem;
  margin: 3px;
}

h6 {
  font-size: 1.6rem;
  margin: 3px;
}

html {
  font-family: "roboto",Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 992px) {
  html {
    max-width: 1500px;
    margin: auto;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
}

@media screen and (min-width: 992px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.white {
  color: white;
}

@media screen and (min-width: 992px) {
  .white {
    font-size: 2rem;
  }
}

.black {
  color: black;
}

.uppercase {
  text-transform: uppercase;
}

.logo-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .logo-header {
    width: 200px;
  }
}

@media screen and (min-width: 992px) {
  .logo-header {
    width: 350px;
  }
}

.map {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #EAEAEA;
  padding: 10px 0px 10px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.06) 0px 5px 7px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.06) 0px 5px 7px 0px inset;
}

@media screen and (min-width: 992px) {
  .map {
    font-size: 1.5rem;
  }
}

.localisation {
  margin-left: 15px;
}

.background-light {
  background: #F6F6F6;
}

.background-dark {
  background: #EAEAEA;
}

.intro {
  padding: 10px 20px 10px 20px;
  text-align: center;
  margin: auto;
}

.btn {
  border: none;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 15px;
  cursor: pointer;
}

.btn:hover {
  background-color: #99e2d08f;
}

@media screen and (min-width: 992px) {
  .btn {
    padding: 0px 20px;
    margin: auto;
  }
}

.btn:active {
  color: #FF79DA;
  -webkit-box-shadow: #FF79DA 0, 0, 0, 0.35 0px 5px 15px;
          box-shadow: #FF79DA 0, 0, 0, 0.35 0px 5px 15px;
}

.btn:active .btn-color {
  color: #FF79DA;
}

.btn:active .btn-number {
  color: #99E2D0;
  background: #FF79DA;
}

.btn-radius {
  border-radius: 50px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 15px;
}

.btn-radius2 {
  border-radius: 14px;
}

.btn-intro {
  border: none;
  background: linear-gradient(80deg, #9356dc 0%, #ff79da 100%);
  padding: 0px 15px 0px 15px;
  margin: 20px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.btn-command {
  text-align: center;
}

.img-restaurant {
  border-radius: 15px 15px 0px 0px;
}

@media screen and (max-width: 768px) {
  .img-restaurant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 992px) {
  .img-restaurant {
    width: 700px;
    height: auto;
  }
}

.btn-number {
  background-color: #9356DC;
  padding: 4px 8px;
  border-radius: 50%;
  margin-right: 30px;
  font-size: 1.2rem;
  color: white;
  position: relative;
}

@media screen and (max-width: 768px) {
  .btn-number {
    right: 10px;
  }
}

@media screen and (min-width: 992px) {
  .btn-number {
    right: 32px;
  }
}

.btn-color {
  color: #7E7E7E;
  margin-right: 40px;
  font-size: 1.2rem;
}

.list-restaurants {
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .list-restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

input {
  display: none;
}

.checked {
  color: #FF79DA;
}

.restaurant {
  position: relative;
  background-color: white;
  border-radius: 15px;
  line-height: 10px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 15px;
  -webkit-transition: 200ms;
  transition: 200ms;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .restaurant {
    max-width: 700px;
    margin: auto;
    margin-top: 20px;
  }
}

.restaurant:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
          box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

@media screen and (min-width: 992px) {
  .intro-h1 {
    font-size: 2.5rem;
    margin-right: 1200px;
  }
}

.description-restaurant {
  margin-left: 15px;
  line-height: 5px;
}

.fa-heart {
  float: right;
  margin-right: 30px;
  font-size: 2rem;
}

.logo-menu {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .logo-menu {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .logo-menu {
    width: 300px;
  }
}

.fa-arrow-left {
  font-size: 2rem;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-menu {
  height: auto;
  z-index: 0;
}

@media screen and (max-width: 768px) {
  .img-menu {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .img-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-height: 300px;
    margin: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-list {
  border-radius: 15px 15px 0px 0px;
  z-index: 100;
  position: relative;
  margin: -20px auto;
}

@media screen and (min-width: 992px) {
  .menu-categorie {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

ul {
  list-style: none;
}

.menu-check {
  visibility: hidden;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  overflow: hidden;
  font-size: 2rem;
  color: white;
}

.menu-check .fa-circle-check {
  -webkit-transform: rotate(250deg) scale(0);
          transform: rotate(250deg) scale(0);
  -webkit-transition: -webkit-transform 300ms ease-in;
  transition: -webkit-transform 300ms ease-in;
  transition: transform 300ms ease-in;
  transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
  font-size: 0rem;
}

.contact {
  text-decoration: none;
  color: white;
}

.footer-menu {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */