$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-light: #E5E5E5;
$color-dark: #4B4B4B;
$breakpoints:(mobile: 599px, desktop: 600px);
$shadow: rgba(0, 0, 0, 0.35) 0px 3px 15px;
$gradient:  linear-gradient(62deg, #9356dc 0%, #ff79da 100%);

@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
      @content;
    }
  }
  @mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
      @content;
    }
  }
html
{
    font-family: "roboto",Arial, Helvetica, sans-serif;
    @include desktop
    {
        max-width: 30%;
        margin: auto;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
}
h1
{
    font-size: 1.9rem;
    margin-left: 20px;
}
h3
{
    font-size: 1.2rem;
    color: white;
}
.uppercase
{
    text-transform: uppercase;
}
.logo-header
{
    display: flex;
    width: 40%;
    margin: auto;
    text-align: center;
}
.map 
{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    background-color: $color-dark;
    padding: 10px 0px 10px 0px;
}
.localisation
{
    margin-left: 15px;
}
.background-light
{  
    background: $color-light;  
}
.intro
{
    padding: 10px 0px 10px 0px;
    text-align: center;
    box-shadow: $shadow;
}

.btn
{
    border: none;
    margin-top: 20px;
    background:$color-light;
    display: flex;
    align-items: center;
}
.btn:hover
{
    background: $color-tertiary;
}
.btn:active
{
    
    color: $color-secondary;
    box-shadow: $color-secondary(0, 0, 0, 0.35) 0px 5px 15px;
    .btn-color
    {
        color: $color-secondary;
    }
    
    .btn-number
    {
        color: $color-tertiary;
        background: $color-secondary;
    }
    
}
.btn-radius
{
    border-radius: 50px;
    box-shadow: $shadow;
}
.btn-intro
{
    border: none;
    background: $gradient;
    padding: 0px 10px 0px 10px;
    margin: 20px;
}
.img-restaurant
{
        display: flex;
        width: 100%;
        height: auto;
        border-radius: 15px 15px 0px 0px;   
}
.btn-number
{
    background-color: #9356DC;
    padding: 15px;
    border-radius: 50%;
    margin-right: 30px;
    font-size: 1.2em;
    color: white;
}
.btn-color
{
    color: $color-dark;
    margin-right: 20px;
}
.list-restaurants
{
    padding: 5px;
    margin-top: 20px;
}
input
{
    display: none;
}
.like .checked 
{
	display: none;
}
.like input[type="checkbox"]:checked~.checked {
	display: inline-block;
}

.like input[type="checkbox"]:checked~.unchecked {
	display: none;
}
.checked
{
    color: #FF79DA;
}
.restaurant
{
    background-color: white;
    border-radius: 15px;
    line-height: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    box-shadow: $shadow;
}
.img-restaurant
{
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0px 0px;
}
.description-restaurant
{
    margin-left: 15px;
    line-height: 5px;
}
.fa-heart
{
    float: right;
    margin-right: 30px;
    font-size: 2rem;
}
.footer
{
    background: $color-dark;
}
.footer-logo
{
    padding-top: 5px;
    width: 40%;
    margin-left: 15px;
    filter: invert(100%);
}
.footer-menu
{
    margin-top: 15px;
    margin-left: 20px;
    color: white;
}
.footer-icon
{
    margin-right: 5px;
}
.logo-menu
{
    width: 50%;
    margin: auto;
    display: flex;
}
.header-menu
{
    display: flex;
    align-items: center;
}
.img-menu
{
    width: 100%;
    height: auto;
}
.menu-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-list
{
    border-radius: 15px 15px 0px 0px;
    padding: 15px;
}
.menu
{
    
 
}
.menu-prix
{
    font-size: 1.5rem;
}
.menu-plat
{
    line-height: 0px;
    background: white;
    border-radius: 15px;
    padding: 0px 10px 15px 10px;
    margin: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.menu-check
{
    opacity: 1;
    display: flex;
    justify-content: flex-end;
    background: $color-tertiary;
    margin: 0px 0px 20px 0px;
}
.menu-check:hover,
        .menu-check:checked {
            opacity: 1;
        }
.plat-0
{
    display: flex;
    flex: 2;
}
.plat-2
{
    display: flex;
    justify-content: flex-end;
}
.plat-3
{
    display: flex;
    justify-content:flex-end;
    flex: 1;
}
