$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-light: #F6F6F6;
$color-dark: #EAEAEA;
$color-darker:#7E7E7E;
$color-footer:#353535;
$breakpoints:(mobile: 991px, desktop: 992px);
$shadow: rgba(0, 0, 0, 0.35) 0px 3px 15px;
$hover: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;;
$gradient:  linear-gradient(80deg, #9356dc 0%, #ff79da 100%);
@-webkit-keyframes check {
    from { opacity: 0;}
      to { opacity: 1;}
}
@keyframes check {
    from { opacity: 0;}
      to { opacity: 1;}
}
@keyframes right {
    from { transform: rotate(0deg);}
    to { transform: rotate(360deg);}
}
@keyframes left {
    from { transform: rotate(360deg);}
    to { transform: rotate(0deg);}
}



@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
      @content;
    }
  }
  @mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
      @content;
    }
  }

html
{
    font-family: "roboto",Arial, Helvetica, sans-serif;
    @include desktop
    {
        max-width: 1500px;
        margin: auto;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
}
body
{
    position: relative;
}
.load {
    position: absolute;
    top: calc(100% - 20px);
    left: calc(100% - 20px);
    border-bottom: 5px solid $color-primary;
    border-top: 5px solid $color-secondary;
    border-left: 5px solid $color-dark;
    border-right: 5px solid $color-tertiary;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: right 2s linear infinite;
  }
.load1
{
    position:absolute;
    top: 25px;
    left: 25px;
    border-bottom: 5px solid $color-primary;
    border-top: 5px solid $color-secondary;
    border-left: 5px solid $color-dark;
    border-right: 5px solid $color-tertiary;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: left 2s linear infinite;
}
nav
{
    @include desktop
    {
        display: flex;
        flex-wrap: wrap;
    
        
    }

    
}
h1
{
    margin-left: 20px;
    @include mobile-only
    {
    font-size: 1.5rem;
    
    }
    @include desktop
    {
        font-size: 2rem;
    }
}
h3
{
    font-size: 1rem;
    @include desktop
    {
        font-size: 1.5rem;
    }
}
h4
{
    border-bottom: 4px solid $color-tertiary;
    margin-left: 10px;
    @include mobile-only
    {
    width: 30px;
    }
    @include desktop
    {
        font-size: 1.5rem;
        text-align: center;
        margin: 10px auto;
        width: 150px;
    }
    
}
h5
{
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.1rem;
    margin: 3px;  
}
h6
{
    font-size: 1.6rem;
    margin: 3px;
}
.white
{
    color: white;
    @include desktop
    {
        font-size: 2rem;
    }
}
.black
{
    color: black;
}
.uppercase
{
    text-transform: uppercase;
}
.logo-header
{
    display: flex;
    width: 40%;
    margin: auto;
    text-align: center;
}
.img-menu
{
    z-index: 2;
    position: relative;
}

.map 
{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    background-color: $color-dark;
    padding: 10px 0px 10px 0px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 5px 7px 0px inset;
    @include desktop
    {
        font-size: 1.5rem;
    }
}
.localisation
{
    margin-left: 15px;
    
}
.background-light
{  
    background: $color-light;  
}
.background-dark
{
    background: $color-dark;
}
.intro
{
    padding: 10px 20px 10px 20px;
    text-align: center;
    margin: auto
}

.btn
{
    border: none;
    margin: 20px;
    display: flex;
    align-items: center;
    transition: all 200ms;
    box-shadow: $shadow;
    cursor: pointer;
    &:hover{
        background-color: $color-tertiary;
    }
    @include desktop
    {
        padding: 0px 20px;
        margin: auto;
    }
}
.btn:active
{
    
    color: $color-secondary;
    box-shadow: $color-secondary(0, 0, 0, 0.35) 0px 5px 15px;
    .btn-color
    {
        color: $color-secondary;
    }
    
    .btn-number
    {
        color: $color-tertiary;
        background: $color-secondary;
    }
    
}
.btn-radius
{
    border-radius: 50px;
    box-shadow: $shadow;
}
.btn-radius2
{
    border-radius: 14px;
}
.btn-intro
{
    border: none;
    background: $gradient;
    padding: 0px 15px 0px 15px;
    margin: 20px auto;
    align-items: center;
    cursor: pointer;
}

.btn-command
{
    text-align: center;
}
.img-restaurant
{       
    border-radius: 15px 15px 0px 0px;
    @include mobile-only
    {
        display: flex;
        width: 100%;
        height: auto;
       
    }
    @include desktop
    {
        width: 700px;
        height: auto;
    }   
}
.btn-number
{
    background-color: #9356DC;
    padding: 5px 8px;
    border-radius: 50%;
    margin-right: 30px;
    font-size: 1.2rem;
    color: white;
}
.btn-color
{
    color: $color-darker;
    margin-right: 40px;
    font-size: 1.2rem;
}
.list-restaurants
{
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    @include desktop
    {
        display: flex;
        flex-wrap: wrap;
    }
}
input
{
    display: none;
}
.like .checked 
{
	display: none;
}
.like input[type="checkbox"]:checked~.checked {
	display: inline-block;
}

.like input[type="checkbox"]:checked~.unchecked {
	display: none;
}
.checked
{
    color: #FF79DA;
}
.restaurant
{
    
    background-color: white;
    border-radius: 15px;
    line-height: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    box-shadow: $shadow;
    transition: 200ms;
    
    cursor: pointer;
    @include desktop
    {
        max-width: 700px;
        margin: auto;
        margin-top: 20px;
        
    }
    &:hover
    {
        box-shadow: $hover;
    }
}
.intro-h1
{
    @include desktop
    {
        font-size: 2.5rem;
        margin-right: 1200px;
    }
}
.description-restaurant
{
    margin-left: 15px;
    line-height: 5px;
}
.fa-heart
{
    float: right;
    margin-right: 30px;
    font-size: 2rem;
}
.footer
{
    background: $color-footer;
    padding: 10px;
}
.footer-logo
{
    padding-top: 5px;
    width: 40%;
    margin-left: 15px;
    filter: invert(100%);
}
.footer-menu
{
    margin-top: 15px;
    margin-left: 20px;
    color: white;
}
.footer-icon
{
    margin-right: 5px;
}
.logo-menu
{
    @include mobile-only
    {
    width: 50%;
    }
    margin: auto;
    display: flex;
    @include desktop
    {
        width: 300px;
    }
}
.fa-arrow-left
{
    font-size: 2rem;
}
.header-menu
{
    display: flex;
    align-items: center;
}
.img-menu
{
    height: auto;
    @include mobile-only
    {
        width: 100%;
    }
    @include desktop
    {
        display: flex;
        width: 100%;
        max-height: 300px;
        margin: auto;
        object-fit: cover;
        
    }
    
}
.menu-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-list
{
    border-radius: 15px 15px 0px 0px;
    z-index: 100;
   position: relative;
   margin-top: 20px;
}
.plat
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 20px 10px;
    background: white;
    border-radius: 15px;
    padding-left: 8px;
    box-shadow: $shadow;
    &:hover .menu-check
    {
        visibility: visible;
        display: block;
        background: $color-tertiary;
        border-radius: 0px 15px 15px 0px;
        padding: 9px;
        
    }
    &:hover .fa-circle-check
    {
        transform: rotate(0deg) scale(1);
        visibility: visible;
        transform-origin:right;
        font-size: 2rem;
    }
    @include desktop
    {
        width: 400px;
    }
    
}
.menu-categorie
{
    @include desktop
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        
    }
}
.plat-header
{
    text-overflow: ellipsis;
    overflow:hidden;
    white-space:nowrap;
    width: 300px;
    padding: 5px 0px 5px 0px;
    
}
ul
{
    list-style: none;
}
.plat-price
{
    
    margin-right: 10px;
    transition: all 400ms ease-out;
    width: 70px;
    text-align:right;
}
.menu-check
{
    visibility: hidden;
    transition: all 100ms;
    overflow: hidden;
    font-size: 2rem;
    color: white;
    .fa-circle-check
    {
        transform: rotate(250deg) scale(0);
        transition: transform 300ms ease-in;
        font-size: 0rem;
    }

}

  
