
@import "./Utils/variables";
@import "./Utils/mixins";
@import "./Utils/functions";
@import "./Utils/loading";
@import "./Layout/footer";
@import "./Layout/plats";
@import "./Layout/img-menu";
@import "./Compoments/like";
@import "./Compoments/check";



html
{
    font-family: "roboto",Arial, Helvetica, sans-serif;
    @include desktop
    {
        max-width: 1500px;
        margin: auto;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
}
nav
{
    @include desktop
    {
        display: flex;
        flex-wrap: wrap;
    
        
    }

    
}

.white
{
    color: white;
    @include desktop
    {
        font-size: 2rem;
    }
}
.black
{
    color: black;
}
.uppercase
{
    text-transform: uppercase;
}
.logo-header
{
    display: flex;
    margin: auto;
    text-align: center;
    @include mobile-only
    {
        width: 200px;
    }
    @include desktop
    {
        width: 350px;
    }
}

.map 
{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    background-color: $color-dark;
    padding: 10px 0px 10px 0px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 5px 7px 0px inset;
    @include desktop
    {
        font-size: 1.5rem;
    }
}
.localisation
{
    margin-left: 15px;
    
}
.background-light
{  
    background: $color-light;  
}
.background-dark
{
    background: $color-dark;
}
.intro
{
    padding: 10px 20px 10px 20px;
    text-align: center;
    margin: auto
}

.btn
{
    border: none;
    margin: 20px;
    display: flex;
    align-items: center;
    transition: all 200ms;
    box-shadow: $shadow;
    cursor: pointer;
    &:hover{
        background-color: $color-tertiary-opacity;
    }
    @include desktop
    {
        padding: 0px 20px;
        margin: auto;
    }
}
.btn:active
{
    
    color: $color-secondary;
    box-shadow: $color-secondary (0, 0, 0, 0.35) 0px 5px 15px;
    .btn-color
    {
        color: $color-secondary;
    }
    
    .btn-number
    {
        color: $color-tertiary;
        background: $color-secondary;
    }
    
}
.btn-radius
{
    border-radius: 50px;
    box-shadow: $shadow;
}
.btn-radius2
{
    border-radius: 14px;
}
.btn-intro
{
    border: none;
    background: $gradient;
    padding: 0px 15px 0px 15px;
    margin: 20px auto;
    align-items: center;
    cursor: pointer;
}

.btn-command
{
    text-align: center;
}
.img-restaurant
{       
    border-radius: 15px 15px 0px 0px;
    @include mobile-only
    {
        display: flex;
        width: 100%;
        height: auto;
       
    }
    @include desktop
    {
        width: 700px;
        height: auto;
    }   
}
.btn-number
{
    background-color: #9356DC;
    padding: 4px 8px;
    border-radius: 50%;
    margin-right: 30px;
    font-size: 1.2rem;
    color: white;
    position: relative;
    @include mobile-only
    {
        right: 10px;
    }
    @include desktop
    {
        right: 32px;
    }
}
.btn-color
{
    color: $color-darker;
    margin-right: 40px;
    font-size: 1.2rem;
}
.list-restaurants
{
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    @include desktop
    {
        display: flex;
        flex-wrap: wrap;
    }
}
input
{
    display: none;
}
.checked
{
    color: #FF79DA;
}

.restaurant
{
    position: relative;
    background-color: white;
    border-radius: 15px;
    line-height: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    box-shadow: $shadow;
    transition: 200ms;
    cursor: pointer;
    @include desktop
    {
        max-width: 700px;
        margin: auto;
        margin-top: 20px;
        
    }
    &:hover
    {
        box-shadow: $hover;
    }
}
.intro-h1
{
    @include desktop
    {
        font-size: 2.5rem;
        margin-right: 1200px;
    }
}
.description-restaurant
{
    margin-left: 15px;
    line-height: 5px;
}

.logo-menu
{
    @include mobile-only
    {
    width: 50%;
    }
    margin: auto;
    display: flex;
    @include desktop
    {
        width: 300px;
    }
}
.fa-arrow-left
{
    font-size: 2rem;
}
.header-menu
{
    display: flex;
    align-items: center;
}
.img-menu
{
    height: auto;
    z-index: 0;
    @include mobile-only
    {
        width: 100%;
    }
    @include desktop
    {
        display: flex;
        width: 100%;
        max-height: 300px;
        margin: auto;
        object-fit: cover;
        
    }
    
}
.menu-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-list
{
    border-radius: 15px 15px 0px 0px;
    z-index: 100;
    position: relative;
    margin: -20px auto;
   
}



ul
{
    list-style: none;
}

.menu-check
{
    visibility: hidden;
    transition: all 100ms;
    overflow: hidden;
    font-size: 2rem;
    color: white;
    .fa-circle-check
    {
        transform: rotate(250deg) scale(0);
        transition: transform 300ms ease-in;
        font-size: 0rem;
    }

}
.contact
{
    text-decoration: none;
    color: white;
}
.footer-menu
{
    cursor: pointer;
}

  
