.footer
{
    background: $color-footer;
    padding: 20px;
    @include desktop
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 20px auto;
        padding: 20px 40px;
        font-size: 1.5rem;
    }
    @include tablet
    {
        display: flex;
    }
}
.footer-logo
{
    filter: invert(100%);
    @include mobile-only
    {
    padding-top: 5px;
    width: 100px;
    margin-left: 15px;
    }
    @include desktop
    {
        width: 300px;
    }
    
}
.footer-menu
{
    margin-top: 15px;
    margin-left: 20px;
    color: white;
    cursor: pointer;  
}
.footer-icon
{
    margin-right: 5px;
}
.contact
{
    text-decoration: none;
    color: white;
}
