.img-restaurant
{       
    border-radius: 15px 15px 0px 0px;
    @include mobile-only
    {
        display: flex;
        width: 100%;
        height: auto;
       
    }
    @include desktop
    {
        max-width: 400px;
        height: auto;
        object-fit: cover;
    }
    @include tablet
    {
        width: 100%;
        height: auto;
    }   
}