.img-menu
{
    z-index: 2;
    position: relative;
    @include tablet
    {
        width: 100%;
    }
}
.img-menu
{
    height: auto;
    z-index: 0;
    @include mobile-only
    {
        width: 100%;
    }
    @include desktop
    {
        display: flex;
        width: 100%;
        max-height: 300px;
        margin: auto;
        object-fit: cover;
        
    }
    
}
