.logo-header
{
    display: flex;
    margin: auto;
    text-align: center;
    @include mobile-only
    {
        width: 160px;
        padding-top: 10px;
    }
    @include desktop
    {
        width: 350px;
        margin-top: 15px;
    }
    @include tablet
    {
        width: 300px;
        padding: 10px 10px 0px 10px;
    }
}
.logo-menu
{
    display: flex;
    margin: auto;
    text-align: center;
    @include mobile-only
    {
        width: 160px;
        padding: 10px 10px 10px 0px;
        
    }
    @include tablet
    {
        width: 300px;
        padding: 10px 10px 10px 0px;
    }
    @include desktop
    {
        width: 300px;
        margin: 20px auto;
    }
}