.menu-categorie
{
    @include desktop
    {
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        
    }
}
.plat
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 10px;
    background: white;
    border-radius: 15px;
    padding-left: 8px;
    box-shadow: $shadow;
    transition: 500ms;
    overflow: hidden;
    &:hover
    {
        .background-green
        {
            @include mobile-only
            {
                width: 60px;
                margin-right: 20px;
            }
            @include desktop
            {
                height: 55px;
                width: 310px;
            }
        }
        .fa-check
        {
            transform: rotate(0deg);
        }
    } 
    @include desktop
    {
        text-align: center;
        flex-direction: column;
        height: 120px;
    }
    
}
.plat-header
{
    text-overflow: ellipsis;
    overflow:hidden;
    white-space:nowrap;
    width: 300px;
    padding: 5px 0px 5px 0px;
    
}
.plat-price
{
    
    margin-right: 10px;
    transition: all 400ms ease-out;
    width: 70px;
    text-align:right;
}
.description-restaurant
{
    margin-left: 15px;
    line-height: 5px;
}

.header-menu
{
    display: flex;
    align-items: center;
}

.menu-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-list
{
    border-radius: 15px 15px 0px 0px;
    z-index: 100;
    position: relative;
    margin: -20px auto;
   
}