@media only screen and (min-device-width : 320px) and (max-device-width : 480px) 
{
body
{
    font-family: "roboto",Arial, Helvetica, sans-serif;
    margin: auto;
}
.uppercase
{
    text-transform: uppercase;
}
.italique
{
    font-style: italic;
}
.fond-gris-clair
{
    background-color: #E5E5E5;
}
.fond-gris-fonce
{
    background-color: #4B4B4B;
}
.shrikhand
{
    font-family: "shrikhand";
}
h1
{
    font-size: 1.9rem;
    margin-left: 20px;
}
h2
{
    font-size: 1.4rem;
}
h4
{
    border-bottom: 2px solid #99e2d0 ;
    width: 30px;

}
h5
{
    font-size: 1.3em;
}
.btn-radius
{
    border-radius: 25px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
a:link 
{ 
 text-decoration:none; 
}
img
{
    width: 95%;
    margin-top: 20px;
}
header
{
    max-width: 95%;
    margin: auto;
    justify-content: center;
}
.map 
{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    background-color: #F2F2F2;
    padding: 10px 10px 10px 10px;
}
.localisation
{
    margin-left: 15px;
    
}
.intro
{
    padding: 15px;
    text-align: center;
    justify-content: center;
}
.btn
{
    margin-top: 20px;
    background:linear-gradient(#FF79DA, #9356DC );
    padding: 15px 15px 15px 15px;
    color: white;
    border: none;
}
.btn:active
{
    transition-delay: 5s;
    background:linear-gradient(#9356DC,#FF79DA );
}
.btn-menu
{
    
    padding: 15px;
    margin: 30px;
    padding-left: 0px;
    
}
.btn-number
{
    background-color: #9356DC;
    padding: 15px;
    border-radius: 50%;
    margin-right: 30px;
    font-size: 1.2em;
    color: white;
}
.btn-color
{
    color: #9356DC;
    margin-right: 20px;
}
.list-restaurants
{
    padding: 5px;
}
input
{
    display: none;
}
.like .checked 
{
	display: none;
}
.like input[type="checkbox"]:checked~.checked {
	display: inline-block;
}

.like input[type="checkbox"]:checked~.unchecked {
	display: none;
}
.checked
{
    color: #FF79DA;
}
.restaurant
{
    background-color: white;
    border-radius: 15px;
    line-height: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.img-restaurant
{
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0px 0px;
}
.description-restaurant
{
    margin-left: 15px;
    line-height: 5px;
}
.fa-heart
{
    float: right;
    margin-right: 30px;
    font-size: 2rem;
}
.footer-logo
{
    width: 50%;
    margin-left: 15px;
    filter: invert(100%);
}
.footer-menu
{
    margin-top: 15px;
    margin-left: 20px;
    color: white;
    
}
.footer-icon
{
    margin-right: 5px;
}
.logo-menu
{
    width: 50%;
    margin: auto;
    display: flex;
}
.header-menu
{
    display: flex;
    align-items: center;
}
.img-menu
{
    width: 100%;
    height: auto;
}
.menu-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-list
{
    border-radius: 15px 0px 15px 0px;
}
.menu
{
    background-color: white;
    border-radius: 15px;
    margin: 10px;
    padding: 0px 10px 15px 10px;
    overflow: hidden;
    text-overflow: ellipsis; 
}
.menu-prix
{

    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
}
.menu-plat
{
    display: flex;
    flex-direction: column;
    line-height: 0px;
}
.menu-check
{
    display: flex;
    justify-content: flex-end;
}
.menu-check input[type="checkbox"]:checked~.checked {
	display: inline-block;
}

.menu-check input[type="checkbox"]:checked~.unchecked {
	display: none;
}
/*# sourceMappingURL=style.css.map */
