.btn
{
    border: none;
    margin: 20px;
    display: flex;
    align-items: center;
    transition: all 200ms;
    box-shadow: $shadow;
    cursor: pointer;
    &:hover{
        background-color: $color-primary-opacity;
        .btn-color
        {
            color: $color-primary;
        }
    }
    @include desktop
    {
        padding: 0px 20px;
        margin: 10px auto;

    }
    @include tablet
    {
        flex-direction: column;
        padding: 0px 10px;
        margin: 10px auto;
    }
}
.btn:active
{
    
    color: $color-secondary;
    box-shadow: $color-secondary (0, 0, 0, 0.35) 0px 5px 15px;
    .btn-color
    {
        color: $color-secondary;
    }
    
    .btn-number
    {
        color: $color-tertiary;
        background: $color-secondary;
    }
    
}
.btn-radius
{
    border-radius: 50px;
    box-shadow: $shadow;
}
.btn-radius2
{
    border-radius: 14px;
}
.btn-intro
{
    border: none;
    background: $gradient;
    margin: 20px auto;
    align-items: center;
    cursor: pointer;
    @include mobile-only
    {
        font-size: 0.9rem;
        padding: 15px 40px;
    }
    @include desktop
    {
        font-size: 1.8rem;
        padding: 20px 40px;
    }
    @include tablet
    {
        font-size: 1.5rem;
        padding: 15px 40px;
    }
}

.btn-command
{
    text-align: center;
    
}
.btn-footer
{
    border: none;
    background: $gradient;
    cursor: pointer;
    @include mobile-only
    {
        margin: 25px 0px 60px 0px;
        padding: 0px 40px;
    }
}
.btn-number
{
    background-color: #9356DC;
    border-radius: 50%;
    margin-right: 20px;
    color: white;
    position: relative;
    @include mobile-only
    {
        right: 10px;
        padding: 2px 7px;
        font-size: 1rem;
    }
    @include desktop
    {
        right: 32px;
        padding: 4px 8px;
        font-size: 1.2rem;
    }
    @include tablet
    {
        font-size: 1.7rem;
        padding: 3px 10px;
        margin: -15px auto;
    }
}
.btn-color
{
    color: $color-darker;
    font-size: 1.2rem;
    @include mobile-only
    {
        margin-right: 20px;
    }
    @include tablet
    {
        margin-top: 30px;
    }
    @include desktop
    {
        margin-right: 20px;
    }
    
}
.size
{
    @include tablet
    {
        font-size: 1.7rem;
    }
}