.background-green
{
    background: $color-tertiary;
    width: 0px;
    height: 60px;
    border-radius: 0px 15px 15px 0px;
    transition: 500ms ease-in-out;
    transform-origin: right;
    transform: translate(50%);
} 
.cercle
{
    width: 25px;
    height: 25px;
    border-radius: 20px;
    background: white;
    margin: 15px auto;
    text-align: center;
}
.fa-check
{
    color: $color-tertiary;
    margin-top: 5px;
    font-size: 1.1rem;
    transition: 500ms ease-in;
    transform: rotate(360deg);
    cursor: pointer;

.fa-check:link
{
    color: $color-secondary;   
}
}
