.fa-heart
{
    float: right;
    margin-right: 30px;
    font-size: 2rem;
}
.like .checked 
{
	display: none;
}

.like input[type="checkbox"]:checked~.checked {
	display: inline-block;
}

.like input[type="checkbox"]:checked~.unchecked {
	display: none;
}
input
{
    display: none;
}