.load {
    position: absolute;
    border-bottom: 5px solid $color-primary;
    border-top: 5px solid $color-secondary;
    border-left: 5px solid $color-dark;
    border-right: 5px solid $color-tertiary;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: right 2s linear;
    opacity: 0;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
.load1
{
    position: absolute;
    border-bottom: 5px solid $color-primary;
    border-top: 5px solid $color-secondary;
    border-left: 5px solid $color-dark;
    border-right: 5px solid $color-tertiary;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: left 2s linear;
    opacity: 0;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.animation
{
    animation: spinner-loading 2s linear;
}
.one, .two, .three, .four
{
    opacity: 0;
}
.one
{
    animation: load 500ms;
    animation-delay: 300ms;
    animation-fill-mode: forwards;
    
}
.two
{
    animation: load 500ms;
    animation-delay: 600ms;
    animation-fill-mode: forwards;
    
    
}
.three
{
    animation: load 500ms;
    animation-delay: 900ms;
    animation-fill-mode: forwards;
    
}
.four
{
    animation: load 500ms;
    animation-delay: 1200ms;
    animation-fill-mode: forwards;
}