$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-tertiary-opacity: #99e2d08f;
$color-light: #F6F6F6;
$color-dark: #EAEAEA;
$color-darker:#7E7E7E;
$color-footer:#353535;

$breakpoints:(mobile: 768px, desktop: 992px, tablet:768px);
$shadow: rgba(0, 0, 0, 0.35) 0px 3px 15px;
$hover: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;;
$gradient:  linear-gradient(80deg, #9356dc 0%, #ff79da 100%);